h1 {
    color: purple;
    background-color: #00FF00;
}

p {
    color: palevioletred;
}
nav {
    text-align: center;
    font-size: 2em;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #FFFFFF;
  }
  /* .nav-component li {
    list-style-type: none;
    display: inline-block;
    padding: 0 0.1em;
  } */
  .nav-component ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: maroon;
  }
  .nav-component ul li a {
    padding: 0 15px;
    font-family: Arial, sans-serif, serif, monospace;
    color: maroon;
  }
  .nav-component ul li a:hover {
    text-decoration: underline;
    color: #FF0000;
    transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  }
  .grid-item {
    height: 200px;
    background-color: #000000;
    margin: 1em;
    /* display: inline-block; */
  }
  .grid-component {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }