h1 {
    color: rgb(94, 6, 94);
    background-color: #806161;
}
p{
    color: #ff0000;
    background-color: aqua;
}
@font-face {
    font-family: ComforterBrush;
    src: url('./Fonts/ComforterBrush-Regular.ttf')
}
h1 {font-family: ComforterBrush, serif;
    font-size: 100pt;
    font-weight: bold;
}

.nav-component ul {
    display: flex;
    flex-direction: row;
  }
  
  .nav-component ul li {
    list-style-type: none;
  }
  
  .nav-component ul li a {
    text-decoration: none;
    padding: 15px;
    font-family: ;
    color: black;
    transition: all 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
  
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
  }
  
  .nav-component ul li a:hover {
  color: green;  
  }


  .grid-component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .grid-component .grid-item {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 10px;
    min-width: 200px;
  }

  .grid-component .grid-item {
    height: 200px;
    background-color: black;
    margin: 10px;
  }
  
    .grid-component {
      display: grid;
     grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 750px) and (min-width: 481px) {
    .grid-component {
     grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 480px) {
    .grid-component {
      grid-template-columns: 1fr;
    }
  }