@font-face {
    font-family: reey;
    src: url('./Fonts/Reey-Regular.otf')
}
h1 {
    color: cadetblue;
    font-family: "Comforter Brush";
}

p {
    color: palevioletred;
}
.nav-component ul {
    display:flex;
    flex-direction:row;
  }
  
  .nav-component ul li {
    list-style-type: none;
  }
  .nav-component ul li a {
    text-decoration: none;
    padding: 15px;
    font-family:arial;
    color:#D46A6A;
  }
  .nav-component ul li a:hover {
    color:#550000;
    transition: all 500ms cubic-bezier(0.895, 0.030, 0.685, 0.220); 
    transition-timing-function: cubic-bezier(0.895, 0.030, 0.685, 0.220); 
  }
  .grid-component{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .grid-component .grid-item {
    width: 200px;
    height:200px;
    background-color: black;
    margin:10px;
    min-width:200px;
  }
  